# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django
*.log

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Testing
.coverage
htmlcov/

# SQLite journal files
*.sqlite3-journal